<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Image</th>
            <th>Image</th>
            <th>Image</th>
        </tr>

        <tr>
            <td><img src="captcha.png" alt="image_here"></td>
            <td><img src="captcha.png" alt="image_here"></td>
            <td><img src="captcha.png" alt="image_here"></td>
        </tr>

        <tr>
            <td><img src="../static/my_image1.jpg" alt="image_here"></td>
            <td><img src="captcha.png" alt="image_here"></td>
            <td><img src="captcha.png" alt="image_here"></td>
        </tr>
        
    </table>
</body>
</html>